<div class="container-fluid" style="margin-top: 20px;">
    <div class="row mat-elevation-z8">

        <div class="col-md-2">
            <img src="../assets/photo.jpg" width="120px" height="120px">
        </div>
        <div class="col-md-10">
            <table>
                <tr>
                    <td class="head"> Sai Teja Gunda</td>
                </tr>
                <tr>
                    <td class="head"> saitejagunda@gmail.com </td>
                </tr>
                <tr>
                    <td class="head"> 07004742653 </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Overview">
                    <mat-card class="mat-elevation-z4">
                        I am a DevOps engineer and I'm ready to Break the Development-Operations barrier and give you
                        more time
                        to innovate. As one Great Philosopher said "Only skill defines a person" and I found this skill
                        in my
                        self and chose This Stream which makes me happy and encourages me to do to more. A few months
                        ago I have
                        read the Blog regarding DevOps and got to know It is a unique and very good software development
                        methodology. So at that time, I decided to try this handshake firm which makes the connection
                        between
                        development and operation And Today I can proudly say that I'm a DevOps engineer. I think I have
                        sufficient knowledge and skill so I can work to break the barrier and automates the processes
                        between
                        software development and IT teams.
                    </mat-card>
                </mat-tab>

                <mat-tab label="Work Experience">

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title class="text-left">
                                Aug’18-till now- Reliance Industries Ltd. (RCP Ghansoli), Maharashtra as an Executive
                                Engineer
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <h6 style="font-weight: 600;"> Growth Path:</h6>
                            <div class="row">
                                <div class="col-md-7"> 
                                    <tr>
                                        <td style="padding-right: 15px !important;"> Aug’18-Aug’19: </td>
                                        <td> Graduate Engineer Trainee </td>
                                    </tr>
                                </div>

                                    <!-- Aug’18-Aug’19: </div>
                                <div class="col-md-3 text-left"> Graduate Engineer Trainee </div> -->
                                <div class="col-md-5"></div> 
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                <tr>
                                    <td style="padding-right: 15px !important;"> Aug’19- till date: </td>
                                    <td> Executive Engineer </td>
                                </tr>
                            </div>
                                <!-- <div class="col-md-2 text-right"> Aug’19- till date: </div>
                                <div class="col-md-3 text-left"> Executive Engineer </div> -->
                                <div class="col-md-5"></div>
                            </div>
                                                         
                            <br>
                            <h5> Key Result Areas: </h5>

                            <ul>
                                <li> Creating and maintaining the DevOps pipeline for managing and deploying Micro
                                    Services </li>
                                <li> Analyzing the code for GitLab, building the code with Maven & testing the same with
                                    Junit </li>
                                <li> Inspecting the code quality with SonarQube, fortifying for static analysis &
                                    creating image using
                                    Docker </li>
                                <li> Moving the image to Nexus registry and deploying the image on Kubernetes Cluster
                                    using Ansible
                                    playbook </li>
                                <li> Supporting multiple platforms for their end-to-end deployment </li>
                                <li> Troubleshooting the issues & challenges in DevOps pipeline </li>
                                <li> Working on Jenkins with Linux & Windows Slave and managing users with several
                                    plugins </li>
                                <li> Creating Kubernetes HA Cluster with multi-master, multi-ETCDs and multi-workers
                                    using
                                    Ansible-playbooks </li>
                                <li> Exploring new technologies & tools, introducing them to the company; assisting in
                                    building-up an
                                    agile
                                    development environment </li>
                                <li> Improving the product quantity and the work efficiency by applying new strategies
                                </li>
                                <li> Creating development concepts, project flow, and project scope </li>
                                <li> Determining all necessary coding requirements and ensuring implementation of
                                    features </li>
                                <li> Training new employees and working with 2-3 new developers, on new web projects
                                </li>
                            </ul>
                        </mat-card-content>
                    </mat-card>


                </mat-tab>


                <mat-tab label="My Projects">
                    <br>
                    <div class="table table-responsive container-fluid fixed=table-body">
                        <table class="table table-hover" cell-spacing="0" cel-padding="0">
                            <thead class="thead-light">
                                <tr>
                                    <th> Project </th>
                                    <th> Organization </th>
                                    <th> Title </th>
                                    <th> Period </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Fudospot </td>
                                    <td> NIT, Jamshedpur </td>
                                    <td> Android Developer </td>
                                    <td> Mar’17-May’17 </td>
                                </tr>
                                <tr>
                                    <td> Android </td>
                                    <td> India E-learn </td>
                                    <td> Team Lead & Developer </td>
                                    <td> Jan ’17-May’17 </td>
                                </tr>
                                <tr>
                                    <td> Home Automation using Android application </td>
                                    <td> Edomotic </td>
                                    <td> Team Lead & Developer </td>
                                    <td> Jan ’17-May’17 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </mat-tab>


                <mat-tab label="Skills">

                    <div class="row container-fluid text-center">
                        <mat-list role="list" class="col-md-4 text-center">
                            <mat-list-item role="listitem" *ngFor="let item of dev1"> {{item}} </mat-list-item>
                        </mat-list>

                        <mat-list role="list" class="col-md-4  text-center">
                            <mat-list-item role="listitem" *ngFor="let item of dev2"> {{item}} </mat-list-item>

                        </mat-list>

                        <mat-list role="list" class="col-md-4  text-center">
                            <mat-list-item role="listitem" *ngFor="let item of dev3"> {{item}} </mat-list-item>
                        </mat-list>
                    </div>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of devOpsList"> {{item}}
                        </mat-list-item>
                    </mat-list>
                </mat-tab>

                <mat-tab label="My Blog">
                    MY BLOG IS GETTING COOKED UP!!!!
                </mat-tab>

                <!-- <mat-tab label="Contact"> -->

                <!-- </mat-tab> -->

            </mat-tab-group>
        </div>
    </div>
</div>